In [1]:
import numpy as np
import pandas as pd

In [2]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [12]:
#What sex was youngest respondent
age=pets['age'].min()
age

pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

In [17]:
# what age was the prson with most pets
pets['num_pets']=pets['pets'].apply(lambda x:len(x))
pets
pets.loc[pets['num_pets'] == max(pets['num_pets']),'age']

3    56
Name: age, dtype: int32

In [22]:
#most popular pet
list=pets['pets'].tolist()
list2=[y for i in list for y in i]
animal=max(set(list2), key=list2.count)
animal

'cat'

In [62]:
# Average age of dog owners
pets['dog']=pets['pets'].apply(lambda x:'dog' in x)
pets

## x=[age[i] for i in range(len(dog)) if dog[i]=='True']

  sex  age                     pets  num_pets    dog
0   M   21               [cat, dog]         2   True
1   M   45                [hamster]         1  False
2   F   23            [cat, gerbil]         2  False
3   M   56  [fish, hamster, gerbil]         3  False
4   F   47                    [cat]         1  False
5   F   70                    [dog]         1   True
6   F   34                    [dog]         1   True
7   M   30                    [cat]         1  False
8   F   19            [rabbit, cat]         2  False
9   M   62                    [dog]         1   True

In [59]:
#Average age of dog owners
age=pets['age'].tolist()
dog=pets['dog'].tolist()
owners_age_having_Dog=[age[i] for i in range(0,len(age)) if dog[i]==True]
np.array(owners_age_having_Dog).mean()

46.75